[submodule "home/fonts"]
	path = home/fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule "home/gnome-terminal-colors-solarized"]
	path = home/gnome-terminal-colors-solarized
	url = git@github.com:sigurdga/gnome-terminal-colors-solarized.git
[submodule "home/.vim"]
	path = home/.vim
	url = git@github.com:bskyb-commerce-helpcentre/vim.git
[submodule "home/dircolors"]
	path = home/dircolors
	url = git://github.com/seebi/dircolors-solarized.git
